.avatar {
    width: auto;
    height: auto;
}

.proportioned {
    width: 300px; 
    height: auto;
}

.distorted {
    width: 200px;
    height: 400px;   
}

.original {
    width: auto;
    height: auto;
}
/*
width: 300px;
width: 200px;
height: auto;

*/
